html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'latobold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latobold_italic';
  src: url('../fonts/Lato-BoldItalic.eot');
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
  url('../fonts/Lato-BoldItalic.woff') format('woff'),
  url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/Lato-Italic.eot');
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Italic.woff2') format('woff2'),
  url('../fonts/Lato-Italic.woff') format('woff'),
  url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latoregular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'latoregular';
  background-color: #f7f8fc;
}

header.main_page {
  margin: 76px 0 48px;
  display: flex;
  justify-content: space-between;
}

header.main_page nav {
  position: relative;
  top: 15px;
}

header.main_page nav ul {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

header.main_page nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

header.main_page nav ul li a.current {
  color: #bdbdbd;
}

header.main_page nav ul li a:after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #5c6bc0;
  transition: transform .3s;
  transform: scaleX(0);
}

header.main_page nav ul li a:hover:after {
  transform: scaleX(1);
}

div.logo h1 {
  font-family: 'latobold';
  color: #333;
  font-size: 36px;
}

div.logo h2 {
  font-family: 'latoregular';
  color: #333;
  font-size: 18px;
  line-height: 27px;
}

div.wrapper {
  color: #000;
  max-width: 952px;
  margin: 0 auto;
}

article.post {
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  -moz-box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
}

article.post div.content_wrapper {
  padding: 58px 97px 79px;
  position: relative;

}

article.post figure {
  width: 100%;
}

article.post h3 {
  font-size: 40px;
  line-height: 50px;
  font-family: 'latobold';
  padding: 20px 0 42px;
  margin-bottom: 42px;
  border-bottom: 2px solid #eee;
}

article.post p {
  font-size: 18px;
  line-height: 27px;
}

article.post time {
  color: #bdbdbd;
  font-size: 14px;
  font-family: 'latobold';
}

article.post span.category {
  background-color: #5c6bc0;
  display: block;
  font-size: 14px;
  font-family: 'latobold';
  color: #fff;
  position: absolute;
  top: 25px;
  right: -10px;
  padding: 5px 10px;
}

article.post figure img {
  width: 100%;
}