html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'latobold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latobold_italic';
  src: url('../fonts/Lato-BoldItalic.eot');
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
  url('../fonts/Lato-BoldItalic.woff') format('woff'),
  url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/Lato-Italic.eot');
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Italic.woff2') format('woff2'),
  url('../fonts/Lato-Italic.woff') format('woff'),
  url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'latoregular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'latoregular';
  background-color: #f7f8fc;
}

progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 100;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  color: #5c6bc0;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #5c6bc0;
}

progress::-moz-progress-bar {
  background-color: #5c6bc0;
}

header.main_page {
  margin: 76px 0 48px;
  display: flex;
  justify-content: space-between;
}

header.main_page nav {
  position: relative;
  top: 15px;
}

header.main_page nav ul {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

header.main_page nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

header.main_page nav ul li a.current {
  color: #bdbdbd;
}

header.main_page nav ul li a:after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #5c6bc0;
  transition: transform .3s;
  transform: scaleX(0);
}

header.main_page nav ul li a:hover:after {
  transform: scaleX(1);
}

div.logo h1 {
  font-family: 'latobold';
  color: #333;
  font-size: 36px;
}

div.logo h2 {
  font-family: 'latoregular';
  color: #333;
  font-size: 18px;
  line-height: 27px;
}

div.wrapper {
  color: #000;
  max-width: 952px;
  margin: 0 auto;
}

/* ПОСТ */
article.post {
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  -moz-box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  padding: 58px 97px 79px;
  position: relative;
}

article.post figure {
  width: 100%;
}

article.post h3, article.post.inner h1 {
  font-size: 40px;
  line-height: 50px;
  font-family: 'latobold';
  padding: 20px 0 42px;
  margin-bottom: 42px;
  border-bottom: 2px solid #eee;
}

article.post p {
  font-size: 18px;
  line-height: 27px;
}

article.post.inner p {
  margin-bottom: 18px;
}

article.post.inner blockquote {
  margin-bottom: 18px;
  color: #777;
  padding-left: 40px;
  border-left: 3px solid #5c6bc0;
  font-size: 24px;
  line-height: 36px;
}

article.post.inner figure figcaption {
  text-align: center;
  font-family: 'latoitalic';
}

article.post.inner figure.full {
  width: 100%;
  margin: 30px 0 50px;
}

article.post.inner figure.right {
  width: 50%;
  float: right;
  margin: 10px 0 50px 50px;
}

article.post.inner figure.left {
  width: 50%;
  float: left;
  margin: 10px 50px 50px 0;
}

article.post time {
  color: #bdbdbd;
  font-size: 14px;
  font-family: 'latobold';
}

article.post span.category {
  background-color: #5c6bc0;
  display: block;
  font-size: 14px;
  font-family: 'latobold';
  color: #fff;
  position: absolute;
  top: 25px;
  right: -10px;
  padding: 5px 10px;
}

article.post figure img {
  width: 100%;
}

article.post div.footnote {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

article.post div.footnote a {
  font-family: 'latobold';
  color: #5c6bc0;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
}

article.post div.footnote nav.tags ul {
  display: flex;
  justify-content: flex-end;
}

article.post div.footnote nav.tags ul li a {
  margin-left: 10px;
  font-size: 15px;
  text-transform: none;
  font-family: 'latoregular';
  text-decoration: none;
  color: #bdbdbd;
}

article.post div.footnote nav.tags ul li a:before {
  content: "#";
  font-size: 15px;

}

article.post div.footnote nav.tags ul li a:hover {
  color: #333;
}

/* АНОНС РАБОТЫ В ПОРТФОЛИО */

section.portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

article.portfolio {
  width: 48%;
  box-sizing: border-box;
  margin: 0 9px 30px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  -moz-box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  box-shadow: 0px 0px 28px 0px rgba(143,143,143,0.5);
  position: relative;
}

article.portfolio img {
  width: 100%;
}


article.portfolio div.content_wrapper{
  padding: 20px;
}


article.portfolio h3 {
  font-size: 18px;
  line-height: 27px;
  font-family: 'latobold';
  text-align: center;
  padding: 20px 0;
}

article.portfolio p.excerpt {
  text-align: center;
}

article.portfolio div.footnote nav.tags ul {
  display: flex;
  justify-content: center;
}

article.portfolio div.footnote nav.tags ul li {
  margin: 20px 10px 20px 0;
}

article.portfolio div.footnote nav.tags ul li a {
  display: block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: none;
  font-family: 'latoregular';
  text-decoration: none;
  color: #000;
  background-color: #bdbdbd;
  cursor: default;
}


div.pagination {
  margin-bottom: 112px;
}

div.pagination ul {
  display: flex;
  justify-content: center;
}

div.pagination ul li a {
  margin: 0 8px;
  display: inline-block;
  text-decoration: none;
  font-family: 'latobold';
  font-size: 18px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #000;
  background-color: #fff;
  padding-top: 12px;
    text-align: center;
    box-sizing: border-box;
}

div.pagination ul li a:hover {
  background-color: #eee;
}

div.pagination ul li a.active {
  background-color: #5c6bc0;
  color: #fff;
}

footer.main_page {
  background-color: #5c6bc0;
  padding: 67px 0 79px;
  color: #8c9bcf;
  text-align: center;
}

footer.main_page div.footer_wrapper {
  margin: 0 auto;
  max-width: 756px;
  padding: 0 14px;
}

footer.main_page h4 {
  color: #465995;
  font-family: 'latobold_italic';
  font-size: 36px;
  margin-bottom: 64px;
}

footer.main_page nav.footer_nav {
  padding-bottom: 45px;
  margin-bottom: 43px;
  border-bottom: 2px solid #5168af;
}

footer.main_page nav.footer_nav ul {
  display: flex;
  justify-content: center;
}

footer.main_page nav.footer_nav ul li a{
  font-size: 16px;
  font-family: 'latobold';
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 0 19px;
}

footer.main_page nav.footer_nav ul li a:hover{
  color: #9faad4;
}

footer.main_page div.disclaimer {
  font-size: 13px;
  padding-bottom: 45px;
  margin-bottom: 43px;
  border-bottom: 2px solid #5168af;
}

footer.main_page nav.socials ul {
  display: flex;
  justify-content: center;
}

footer.main_page nav.socials ul li a {
  color: #fff;
  margin: 0 10px;
  font-size: 22px;
}